<h3>To submit a new genre please type their information below</h3>

<%=form_for(@genre) do |v|%>
<label>Name:</label>
<%= v.text_field :name %><br>
<%=v.submit%><br>
<%= link_to "Go back to the home page",genres_path%>
<%end%>